---
import "../styles/global.css";
import { Toaster } from "react-hot-toast";
import { AppSidebar } from "./Sidebar";
import { ClientRouter } from "astro:transitions";
import { Header } from "./Header";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Tatung</title>
    <ClientRouter />
  </head>
  <body class="grid grid-cols-[16rem_1fr] bg-gray-50">
    <AppSidebar client:only="react" transition:persist />
    <main class="p-12">
      <slot />
    </main>
  </body><Toaster position="top-center" client:load />
  <script src="@/lib/path.ts"></script>
</html>
